<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="pinotKafkaPropertyConfigurer" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:pinot-collector/kafka-producer-factory.properties</value>
                <value>classpath:pinot-collector/kafka-topic.properties</value>
            </list>
        </property>
    </bean>

    <util:map id="kafkaProducerFactoryProperties" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="bootstrap.servers" value="${bootstrap.servers}"/>
        <entry key="key.serializer" value="${key.serializer}"/>
        <entry key="value.serializer" value="${value.serializer}"/>
        <entry key="acks" value="${acks}"/>
    </util:map>

    <bean id="kafkaProducerFactory" class="org.springframework.kafka.core.DefaultKafkaProducerFactory">
        <constructor-arg index="0" ref="kafkaProducerFactoryProperties" />
    </bean>

    <bean id="kafkaLongTemplate" class="org.springframework.kafka.core.KafkaTemplate">
        <constructor-arg index="0" ref="kafkaProducerFactory"/>
        <property name="defaultTopic" value="${kafka.long.topic}"/>
    </bean>

    <bean id="kafkaDoubleTemplate" class="org.springframework.kafka.core.KafkaTemplate">
        <constructor-arg index="0" ref="kafkaProducerFactory"/>
        <property name="defaultTopic" value="${kafka.double.topic}"/>
    </bean>

</beans>